* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#musicListContainer {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.571);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-100%);
          transform: translateY(-50%) translateX(-100%);
  border-radius: 0px 10px 10px 0px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
#musicListContainer #headingListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 0px 10px 0px;
  position: relative;
}
#musicListContainer #headingListContainer::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #130f40;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#musicListContainer ul {
  width: 100%;
  height: 75%;
  margin: 30px 0px 0px 0px;
  font-size: 23px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}
#musicListContainer ul li {
  width: 60%;
  margin: 15px 40px;
  width: 100%;
  list-style: circle;
  cursor: pointer;
}
#musicListContainer #listArrow {
  position: absolute;
  top: 50%;
  right: 0px;
  padding: 20px 10px;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  cursor: pointer;
  -webkit-backdrop-filter: inherit;
          backdrop-filter: inherit;
}
#musicListContainer #listArrow svg {
  width: 15px;
  fill: black;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

#musicPlayerContainer {
  width: 450px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.326);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.326);
}
#musicPlayerContainer #imageDiv {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  margin: 50px auto 30px auto;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.283);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.283);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
#musicPlayerContainer #imageDiv img {
  width: 165%;
  height: 100%;
}
#musicPlayerContainer #imageDiv::after {
  content: "";
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}
#musicPlayerContainer #imageDiv::before {
  content: "";
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.537);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}
#musicPlayerContainer #headingContainer {
  width: 80%;
  height: auto;
  font-size: 23px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}
#musicPlayerContainer #musicContainer {
  width: 70%;
  margin: auto;
}
#musicPlayerContainer #musicContainer progress {
  width: 100%;
}
#musicPlayerContainer #controlMusic {
  width: 80%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#musicPlayerContainer #controlMusic .musicControl {
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  border: 3px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
#musicPlayerContainer #controlMusic .musicControl:hover {
  background-color: rgb(59, 59, 59);
}
#musicPlayerContainer #controlMusic .musicControl:hover svg {
  fill: white;
}
#musicPlayerContainer #controlMusic #playPauseButton {
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  border: 3px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
#musicPlayerContainer #controlMusic #playPauseButton:hover {
  background-color: rgb(59, 59, 59);
}
#musicPlayerContainer #controlMusic #playPauseButton:hover svg {
  fill: white;
}
#musicPlayerContainer #playPauseButton svg {
  width: 15px;
  fill: #130f40;
}
#musicPlayerContainer #restOfControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 10px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#musicPlayerContainer #restOfControl .musicControl {
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  border: 3px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
#musicPlayerContainer #restOfControl .musicControl:hover {
  background-color: rgb(59, 59, 59);
}
#musicPlayerContainer #restOfControl .musicControl:hover svg {
  fill: white;
}
#musicPlayerContainer #restOfControl .repeatGreen {
  background-color: #55efc4 !important;
}

@-webkit-keyframes imageRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes imageRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}