$color_pink_1: #FFADBC;
$color_pink_2: #D989B5;
$color_pink_3: #975C8D;
$color_pink_4: #863A6F;

//#############################################

// => page color

$body_color_white: #EFF5F5;
$body_color_silver: #D6E4E5;
$body_color_dark_blue: #497174;
$body_color_orange: #EB6440;